---
import i18next, { changeLanguage } from "i18next";
import Footer from "../../components/Footer";
import Navbar from "../../components/Navbar.astro";
import { crabs } from "../../data/crab";
import { fish } from "../../data/fish";
import { lobsters } from "../../data/lobster";
import { shrimps } from "../../data/shrimp";
import Layout from "../../layouts/Layout.astro";

changeLanguage("id");

const lang = i18next.language;
export async function getStaticPaths() {
    const product1 = shrimps;
    const products = product1.concat(crabs, fish, lobsters);
    return products?.map((product: any) => {
        return {
            params: { slug: product?.slug || "" },
            props: { product: product }
        };
    });
}
const { product } = Astro.props;
const characteristics = lang === "en" ? product?.characteristicsEn : product?.characteristicsId;
export const prerender = true;
---

<Layout title="Welcome to PT Samudra Sukses Nusantara">
  <Navbar />
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-sm-6">
        <div class="d-flex flex-column gap-4">
          <img
            src={product?.imageUrl}
            class="img-fluid rounded w-100 h-auto"
            style="object-fit: cover; max-height: 400px;"
          />
          <a
            href={`https://api.whatsapp.com/send?phone=6281246059191&text=${encodeURI(
              `Halo PT. Samudra Sukses Nusantara! Saya tertarik untuk memesan produk laut dari Anda yaitu ${product?.name}.`
            )}`}
            target="_blank"
          >
            <button class="btn btn-success btn-lg w-100"
              >{lang === 'en' ? 'Contact Us' : 'Hubungi Kami'}
            </button>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column">
          <div class="position-relative d-flex flex-column mb-6">
            <h1
              class="title-section align-self-start"
              style="font-family: 'Playfair Display', serif;"
            >
              {product?.name}
            </h1>
            <div class="line-bg"></div>
          </div>
          <p class="fs-6 mb-3" style="color: grey;">
            {product?.scientificName}
          </p>
          {
            product?.process && (
              <div class="d-flex flex-column gap-2 mb-3">
                <div class="fs-5 fw-bolder" style="color: black;">
                  {lang === 'en' ? 'Type' : 'Tipe'}
                </div>
                <div class="row">
                  {product?.process?.map((pro: any) => (
                    <div class="col-6 col-md-3">
                      <div class="d-flex flex-column">
                        <img src={pro?.imageUrl} class="img-fluid rounded" />
                        <div class="text-center" style="font-size: 14px;">
                          {pro?.name}
                        </div>
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            )
          }
          <div class="d-flex flex-column gap-2">
            <div class="fs-5 fw-bolder" style="color: black;">
              {lang === 'en' ? 'Characteristics' : 'Karakteristik'}
            </div>
            <ol class="list-group list-group-numbered">
              {
                characteristics?.map((char: any) => (
                  <li class="list-group-item">{char}</li>
                ))
              }
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer lang={lang} />
</Layout>

<style>
  .line-bg {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 8px;
    background-color: #e1e7ec;
    z-index: 1;
  }

  .title-section {
    border-bottom: 2px solid #0077b6;
    padding-bottom: 20px;
    z-index: 2;
  }
</style>
